.color-peg {
    -fx-pref-width: 50px;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-border-color: WHITE;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
}

.control-peg {
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 3px;
}

.control-peg-black {
    -fx-background-color: BLACK;
    -fx-border-color: WHITE;
}

.control-peg-white {
    -fx-background-color: #607D8B;
    -fx-border-color: WHITE;
}

.control-peg-none {
    -fx-border-color: WHITE;
}

.board-background {
    -fx-background-color: #37474F;
}

.control-background {
    -fx-background-color: #D7CCC8;
}